.appointment {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e2d6d6;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(27, 27, 27, 0.1);
}

.appointment h1 {
    text-align: center;
    margin-bottom: 21px;
    color:black;
}

.appointment form {
    display: grid;
    gap: 10px;
}

.appointment label {
    font-weight: bold;
    color:black;
}

.appointment input,
.appointment textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #d5cccc;
    border-radius: 4px;
}

.appointment .buttons {
    display: flex;
    justify-content: flex-end;
}

.appointment .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0672e6;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
}

.appointment .button:hover {
    background-color: #0872e4;
}