.yoga{
    width: 300px;
    height: 300px;
    margin-left: 20%px;
    margin-top: 50px;
    margin-right: 90%;
    text-align: center;
}
p{
    text-align: center;
}
h1{
    text-align: center;
}
.checkup{
    width: 300px;
    height: 300px;
    margin-left: 200px;
    margin-top: -125px;
    text-align: right;
}
.reception{
    width: 300px;
    height: 300px;
    margin-left: 380px;
    margin-top: -215px;
    /* margin-right: 90%; */
    text-align: right;
    
}
.department{
    text-align: center;
    margin-top: 20%;
}